.dice {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 1em;
    background-color: rgb(8, 219, 202);
  }
  
  #dice-container {
    display: flex;
    flex-wrap: wrap;
  }

  html {
    background-color: blueviolet;
  }